@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,500&display=swap');
.PoppinsFont{
     font-family: Poppins, sans-serif;
}

#themeColor{
     background-color: #5a3bb6;
}

#myDropdown option[value="default"] {
     display: none;
}

#myDropdown{
     border-radius: 5px;
     text-align: center;
     border: 1px solid #5a3bb6 ;
     background-color: white;
     color:#5a3bb6 ;
}

#account {
     width: 80%;
     padding: 8px;
     color:#5a3bb6 ;
     background-color: white;
     border: 1px solid gray;
     border-radius: 3px;
}

.headRow{
     background-color: white;
     display: flex;
     align-items: center;
}

.manu{
     width: 70%;
     display: flex;
     align-items: center;
}

 /*  this is zoho logo */
 .topHead{
     padding: 10px;
     display: inline-flex;
     overflow: hidden;
 }
 
 .logohead1,.logohead2{
     display: inline-flex; 
     height: fit-content;
 }
 
 .logoBox1{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     /* animation: headBack 1.5s 1; */
     animation-fill-mode: forwards;
     border: 2px solid red;
     /* box-shadow: 1px 1px 6px red; */
     transform: rotate(-10deg);
     z-index: 1;
 }
 
 .logoBox2{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     /* animation: headBack 1.8s 1; */
     animation-fill-mode: forwards;
     border: 2px solid green;
     transform: rotate(20deg);
     margin-left: -3px;
     z-index: 11;
 }
 
 .logoBox3{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     /* animation: headBack 2s 1; */
     animation-fill-mode: forwards;
     border: 2px solid blue;
     transform: rotate(-10deg);
     margin-left: -3px;
     z-index: 1;
 }
 
 .logoBox4{
     width: 30px; 
     height: 30px;
     border-radius: 6px;
     position:relative;
     /* animation: headBack 1s 1; */
     animation-fill-mode: forwards;
     border: 2px solid gold;
     transform: rotate(0deg);
     margin-left: -4px;
     z-index: 1;
 }
 
 @keyframes headBack {
     from {top: -300px;}
     to {top: 0%;}
 }
 
/* this code for hover effect in zoho logo */
.logoBox1:hover{
    cursor: pointer;
    transform: rotate(-20deg);
    transition: 0.2s ease-in ;
}

.logoBox2:hover{
    cursor: pointer;
    transform: rotate(30deg);
    transition: 0.2s ease-in ;
}

.logoBox3:hover{
    cursor: pointer;
    transform: rotate(-25deg);
    transition: 0.2s ease-in ;
}

.logoBox4:hover{
    cursor: pointer;
    transform: rotate(10deg);
    transition: 0.2s ease-in ;
}

/* this is suit of application */

#APIheading{
    background-color: white;
    color: black;
}

.suitOfApplicationView{
    display: flex;
}

.suitOfApplicationView>aside{
    color: black;
    border-top: 1px solid #ddd;
    background-color:white;
    width: 19.5%;
    min-height: 70vh;
}

.suitOfApplicationView>aside>div{
    margin-top: 10px;
}

.suitOfApplicationView>aside>div>h3{
    text-align: justify;
    padding: 0 20px ;
}

.suitOfApplicationView>aside>div>button ,.suitOfApplicationView>aside>div>button>h4{
    text-align:left;
    width: 100%;
    padding: 10px;
}

.suitOfApplicationView>main{
    width: 80%;
    background-color: white;
    border-top: 1px solid #ddd;
}

.suitOfApplicationView>main>header{
    text-align: start;
}

.suitOfApplicationView>main>header>h3{
    margin-left: 10px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.suitOfApplicationView>main>section{
    min-height:100%;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    min-height: 70vh;
}

img{
    width: 70px;
    height: 70px;
}

.imagesRow1,.imagesRow2,.imagesRow3{
    display: flex;
    flex-wrap: wrap;
} 

.imagesRow1>div,.imagesRow2>div,.imagesRow3>div{
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagesRow1>div:hover,.imagesRow2>div:hover,.imagesRow3>div:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.7s ease-in-out;
}

.imagesRow1>div:hover img,.imagesRow2>div:hover img,.imagesRow3>div:hover img{
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

.images1{
    position: relative;
    animation: rightSlide 1s 1;
}

.images2{
    position: relative;
    animation: rightSlide 1.1s 1;
}
    
.images3{
    position: relative;
    animation: rightSlide 1.2s 1;
}
    
.images4{
    position: relative;
    animation: rightSlide 1.3s 1;
}
    
.images5{
    position: relative;
    animation: rightSlide 1.4s 1;
}
    
.images6{
    position: relative;
    animation: rightSlide 1.5s 1;
}

.images7{
    position: relative;
    animation: rightSlide 1.6s 1;
}
    
.images8{
    position: relative;
    animation: rightSlide 1.7s 1;
}
    
.images9{
    position: relative;
    animation: rightSlide 1.8s 1;
}
    
.images10{
    position: relative;
    animation: rightSlide 1.9s 1;
}  
    
.images11{
    position: relative;
    animation: rightSlide 1.10s 1;
}  
    
.images12{
    position: relative;
    animation: rightSlide 1.11s 1;
}

    @keyframes SlideTop {
        from {top: -300%}
        to {top : 0}
    }

    @keyframes SlideLeftRight {
        from {left : -300%}
        to {left : 0}
    }

    @keyframes rightSlide {
        from {left : 200%}
        to {left : 0}
    }

    @keyframes slideBottomTopSlow {
        from {bottom : -200%}
        to {bottom : 0}
    }