@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,500&display=swap');
.PoppinsFont{
     font-family: Poppins, sans-serif;
}

#themeColor{
     background-color: #5a3bb6;
}

#myDropdown option[value="default"] {
     display: none;
}

#myDropdown{
     border-radius: 5px;
     text-align: center;
     border: 1px solid #5a3bb6 ;
     background-color: white;
     color:#5a3bb6 ;
}

#account {
     width: 80%;
     padding: 8px;
     color:#5a3bb6 ;
     background-color: white;
     border: 1px solid gray;
     border-radius: 3px;
}

.headRow{
     background-color: white;
     display: flex;
     align-items: center;
}

.manu{
     width: 70%;
     display: flex;
     align-items: center;
     
}

 /*  this is zoho logo */
 .topHead{
     padding: 10px;
     display: inline-flex;
     overflow: hidden;
 }
 
 .logohead1,.logohead2{
     display: inline-flex; 
     height: fit-content;
 }
 
 .logoBox1{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     animation: headBack 2.5s 1;
     animation-fill-mode: forwards;
     border: 2px solid red;
     box-shadow: 1px 1px 6px red;
     transform: rotate(-10deg);
     z-index: 1;
 }
 
 .logoBox2{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     animation: headBack 3.5s 1;
     animation-fill-mode: forwards;
     border: 2px solid green;
     box-shadow: 1px 1px 6px green;
     transform: rotate(20deg);
     margin-left: -3px;
     z-index: 11;
 }
 
 .logoBox3{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     animation: headBack 2s 1;
     animation-fill-mode: forwards;
     border: 2px solid blue;
     box-shadow: 1px 1px 6px blue;
     transform: rotate(-10deg);
     margin-left: -3px;
     z-index: 1;
 }
 
 .logoBox4{
     width: 30px;
     height: 30px;
     border-radius: 6px;
     position:relative;
     animation: headBack 3s 1;
     animation-fill-mode: forwards;
     border: 2px solid gold;
     box-shadow: 1px 1px 6px red;
     transform: rotate(0deg);
     margin-left: -4px;
     z-index: 1;
 }
 
 @keyframes headBack {
     from {top: -700px;}
     to {top: 0%;}
 }
 