@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,500&display=swap');
.PoppinsFont{
     font-family: Poppins, sans-serif;
}

#themeColor{
     background-color: #5a3bb6;
}

#myDropdown option[value="default"] {
     display: none;
}

#myDropdown{
     border-radius: 5px;
     text-align: center;
     border: 1px solid #5a3bb6 ;
     background-color: white;
     color:#5a3bb6 ;
}

#account {
     width: 80%;
     padding: 8px;
     color:#5a3bb6 ;
     background-color: white;
     border: 1px solid gray;
     border-radius: 3px;
}
