  form {
      min-width:80%;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    p{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    label {
      font-weight: bold;
      display: flex;
      justify-content:left;
    }

    input {
      padding: 8px;
      border-radius: 4px;
      box-sizing: border-box;
    } 

    input[type="time"]{
      width: 80%;
      padding: 8px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="date"]{
      width: 80%;
      padding: 8px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    p:hover>input{
        background-color: aliceblue;
    }

    input:focus {
      border-color: #007bff;
      outline: none;
    }
      
    .inputError::placeholder {
      color: #ff0000;
      font-size: 14px;
    }

    .inputError {
      border: 1px solid red;
    }

    .errorClear{
      border: 1px solid #ddd;
    }