:root {
    --mailFont: "Lato 2", sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.mailDataStyle {
    box-shadow: 0 2px 2px #ddd;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    transition: all 0.2s ease-in-out;

}

.mailDataStyle:hover {
    cursor: pointer;
    background-color: rgb(239, 232, 255);
}

.mailDataFromAddress {
    text-align: left;
    max-height: 20px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    color: #878787;
}

.mailDataStyle:hover .mailDataFromAddress {
    color: black;
}

.mailDataSummuryStyle {
    text-align: left;
    max-height: 20px;
    overflow: auto;
    transition: all 0.2s ease-in-out;
}

.mailDataStyle:hover .mailDataSummuryStyle {
    transform: translatex(1px);
    color: #7150d6 !important;
}

.ZOHOmailLOGO {
    text-align: left;
    max-height: 20px;
    overflow: auto;
    transition: all 0.2s ease-in-out;
    color: black;
}

.mailDataStyle:hover .ZOHOmailLOGO {
    color: #7150d6 !important;
}

.ZOHOmailDelete {
    color: #878787;
}

.ZOHOmailDelete:hover {
    transition: all 0.2s ease-in-out;
    color: red;
}

.mailDataDateAndTime {
    font-size: small;
    text-align: left;
    max-height: 20px;
    overflow: auto;
    transition: all 0.2s ease-in-out;
    color: black;
}

.ZOHOaccountDetail {
    border: 1px solid;
}

.mailDataKB {
    font-family: var(--mailFont);
    max-height: 20px;
    font-size: .625rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    color: #878787;
}

.mailDataStyle:hover .mailDataKB {
    color: black;
}

.mailFolderOuterBox {
    border: 1px solid rgb(239, 232, 255);
    display: flex;
    align-items: center;
    min-height: 100%;
    border-radius: 10px;
}

.Mailfolders {
    border-radius: 5px;
    width: 10%;
    padding: 6px;
    transition: all 0.2s ease-in-out;
}

.Mailfolders:hover {
    cursor: pointer;
    background-color: rgb(239, 232, 255);
    color: #7150d6;
}

.IndicateMessageForGetAccessToken {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://www.zohowebstatic.com/sites/zweb/images/social/inbox/si-header-pattern.jpg') repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 120px auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 1px 0;
    opacity: .7;
}


/* Style for the sidebar (prifile)*/
.sideBarOpen {
    visibility: visible;
    width: 55%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    box-shadow: -5px 0px 14px rgba(49, 57, 73, .24);
    animation: profileRight 0.6s;
}

#individualMessage {
    text-align: justify;
    padding: 10px;
    min-width: 100%;
    overflow-x: scroll;
}

.sideBarOpen:hover {
    cursor: auto;
}

.closingTabArrow {
    transition: all 0.2s ease-in-out;
}

.closingTabArrow:hover {
    cursor: pointer;
    color: blueviolet;
}

@keyframes profileRight {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

.subject {
    font-family: var(--mailFont);
    text-shadow: 1px 1px 30px #ddd;
}

.subject>span {
    font-family: var(--mailFont);
    font-weight: bold;
    font-size: large;
    z-index: 1000;
    padding: 10px;
}

.fromAddress {
    color: #7150d6;
    font-style: italic;
    padding: 10px;
}

.ccAddress {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    color: grey;
    font-style: italic;
}

.mailHeaders {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; 
}

.summaryHead {
    font-family: var(--mailFont);
    padding: 10px;
    font-weight: 700;
    margin-top: 10px;
}

.messagegSummery {
    font-family: var(--mailFont);
    color: grey;
    text-align: left;
    padding: 10px;
}

/* this is reply replyall and forword */
.ExtrasFeatures {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7150d6;
    font-family: var(--mailFont);
    font-weight: 500;
    padding: 10px;
}

.ExtrasFeatures:hover {
    cursor: pointer;
}

.reply,
.replyAll,
.forward {
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.reply:hover,
.replyAll:hover,
.forward:hover {
    background-color: white;
    color: red;
    min-height: 100%;
}

.zohoIndividualReplyMail {
    transition: all 0.5s ease-in-out;
}